


				 /* BEGIN page level styles */
                body { background-color:#FBFCFC; color:#1C2833; font-size:2rem;;  } 
        #content { width:90%; margin:auto; } 
                h1 { font-size:3rem; }
                label { width:10%; display:inline-block;text-align:right; margin:auto 5px; font-weight:bold; }
                input { font-size:2rem; border-radius:5px; height:40px; width:300px; margin:10px auto; }
                select { border-radius:5px; height:40px; width:100px; margin:10px auto; font-size:1.5rem; }
                input[type="submit"]{ border-radius:5px; font-size:2rem; margin:20px auto; padding:10px; height:75px; font-weight:bold; border:2px solid #000;  }
                /* END page level styles */
  
                /* BEGIN Table */
        table, th, td { border-collapse: collapse; border:2px solid #000; padding:10px; text-align:left; vertical-align:top; } 
                /* END Table */

        /* BEGIN Sort Controls */ 
        #sortButtons label { margin-left:5px; font-size:1.8rem; }  
                .offscreenText {
                        position: absolute;
                        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
                        clip: rect(1px, 1px, 1px, 1px);
                        clip-path: inset(50%);
                        padding: 0;
                        border: 0;
                        height: 1px; 
                        width: 1px; 
                        overflow: hidden;
                        white-space: nowrap;
                }
                
                .sortRadio { border:1px solid #000; display:inline-block; padding:10px; margin:10px 10px;  border-radius:5px; } 
        #sortButton { font-weight:bold; font-size:3rem; display:block; border-radius:10px; margin:10px 10px; border:3px solid #000; width:10%; } 
                input[type="radio"] { height:2rem; width:2rem; display:inline-block;  } 
                #status { border:1px solid #000; width:20%; padding:20px; border-radius:5px;  } 

                /* END Sort Controls */ 





