


			  /* BEGIN page level styles */
  			  .offscreenText {
					position: absolute;
					clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
					clip: rect(1px, 1px, 1px, 1px);
					clip-path: inset(50%);
					padding: 0;
					border: 0;
					height: 1px; 
					width: 1px; 
					overflow: hidden;
					white-space: nowrap;
                }
			 .error { color:red; font-size:1.3rem; } 

                body { background-color:#FBFCFC; color:#1C2833; font-size:20px; } 
				#content { width:93%; margin:30px auto; } 
				h1 { font-size:2.2rem; }  
				form { width:45%; } 
                label { width:17%; display:inline-block; margin:auto 5px; font-weight:bold; font-size:1.1rem;  }
                input { border-radius:5px; margin:10px auto; height:1.4rem; width:50%; }
                select { width:10%; height:2rem; font-size:1rem; }
                input[type="submit"] { font-size:1.5rem; width:20%; height:40px; color:#fff; background-color:#006BA6; }
				[role="link"] { color:blue; text-decoration:underline; font-size:1rem; } 
                /* END page level styles */
  
                /* BEGIN Table */
        		table, th, td { border-collapse: collapse; border:2px solid #000; padding:10px; text-align:left; vertical-align:top; } 
                /* END Table */

        		/* BEGIN Sort Controls */ 
        		#sortButtons > div[role="radiogroup"] { display:flex; } 
        		#sortButtons > div[aria-live="polite"] { font-weight:bold; border:1px solid #000; width:16%; padding:20px; } 
                              
        		.sortRadio { display:flex; width:15%; border:1px solid #000; padding:5px;  margin:10px 10px;  border-radius:5px; } 
        		.sortRadio label { width:90%; } 
	            .sortRadio input[type="radio"] { width:20%; padding:0; margin:0;  } 

        		#sortButton { font-weight:bold; display:block; border-radius:10px; margin:10px 10px; border:3px solid #000; width:10%; } 
                #sortButton input[type="submit"] { display:inline-block;  } 

                /* END Sort Controls */ 

				/* BEGIN Manage Form */
				form[action="update.php"] input[type="submit"] { display:inline; } 
				/* END Manage Form */
			
				/* BEGIN Delete Form */
				form[action="delete.php"] input[type="submit"] { display:inline; } 
				form[action="delete.php"] .fieldNames { font-weight:bold;  } 
				/* END Delete Form */
			

				/* BEGIN PresetSearch Form */
                #presetSearchContainer { display:flex; flex-wrap: wrap; } 
                .presetCategory { margin-right:2%; } 
                #presetSearchContainer ul { display:block; width:30%;  list-style-type:none; padding:0;  } 
        		.checkboxContainer input[type="checkbox"], .checkboxContainer label { display:inline-block; } 
        		.checkboxContainer input[type="checkbox"] { width:48%; } 
        		.checkboxContainer label { width:17%; } 
				/* END Preset Search Form */

				/* BEGIN Manage Links */
				.manageLink { font-size:1rem; } 
				/* END  Manage Links */

				/* BEGIN Search */
				#searchContainer label  { width:11%; } 
				#searchContainer input  { width:13%; } 
				#searchContainer input[type="submit"] { display:block; margin:10px 0; width:8%; } 
				/* END Search */

